/* 
Authors:  Deepthi Jayanth
Created Date: 19 Apr 2023

Description: Assessment Page containing Problem Description, Attachment (if any), Answer Box, Progress Bar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #212020;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 8px;
}

.nav {
  display: inline-flex;
}

.nav-left img {
  width: 150px;
  height: 50px;
}

.main_main_container{
  display: inline-flex;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 400px;
  margin-left: -4cm;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 68%;
  }
}